h1{
text-align: center;
font-family: "Comic Sans MS", cursive;
font-size: 48px;

}

h2
{
font-family: "Courier New", Courier, monospace;
font-size: 36px;
}
body
{

font-family: Brush Script MT, Brush Script Std, cursive;
padding: 5px 25px;
font-size: 18px;
margin: 0;

}
